.barrasup {
	background-color: rgb(21, 176, 223);
	width: 100vw;
	height: 6.3rem;
}

.barrasup__logo{
	margin-left: 3px;
	margin-top: 3px;
}

.barrasup_texto{
	margin-top: 0pt;
	text-align: center;
	color: rgb(209, 239, 245);
	font-size: 30pt;

}

.sidebar{
	background-color: rgb(66, 124, 211);
	width: 12rem;
	height: 100vh;
}

.sidebar__list{
	height: auto;
	width: auto;
	
}

.sidebar__list--element{
	font-size: 18pt;
	border: 1px solid rgb(77, 143, 197);
	color: rgb(0, 7, 8);
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.lista{
	color: black;
	margin-top: 10vh;
	margin-left: 25vw;
}
